body {
    margin: 0;
    padding: 0;
    background-color: #3b5880;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    background-image: url('IMG/fundolago.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
}

/* Fala do NPC no início (à direita) */
#fala1 {
    position: absolute;
    bottom: 30%;
    left: 75%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 700px;
    opacity: 0;
    transition: opacity 1s ease;
}

/* Fala de parabéns após derrotar todos os fantasmas (à esquerda) */
#parabensFantasmas {
    position: absolute;
    bottom: 23%;
    left: 34%;
    width: auto; /* Pode deixar que a largura seja automática */
    max-width: 600px; /* Limita a largura máxima */
    max-height: 600px; /* Limita a altura máxima */
    opacity: 0;
    transition: opacity 1s ease;
}

#parabensFantasmas img {
    width: 100%;
    height: auto; /* Mantém as proporções */
    object-fit: contain; /* Garante que a imagem se ajuste sem cortar partes */
}

/* Próxima fase inicialmente oculta */
#proximaFase3 {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;  /* Inicia invisível */
    transition: opacity 1s ease;
}

#proximaFase3 button {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#proximaFase3 button:hover {
    background-color: #45a049;
}
