body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3b5880; /* Cor de fundo correspondente à paleta */
}

#finalScene {
    text-align: center;
}

#npcFinal {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#items {
    margin-top: 20px;
}

#items img {
    margin: 0 10px;
    width: 100px;
}

#decisionText p {
    font-size: 20px;
    color: white;
}

#decisionButtons {
    margin-top: 20px;
}

#decisionButtons button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.oculto {
    display: none;
}

#videoRealWorld {
    margin-top: 20px;
}
