body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Muda para coluna para alinhar os itens verticalmente */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

canvas {
    background-image: url('IMG/fundo floresta.png');
    background-size: cover;
    background-position: center;
    border: 2px solid #000;
}

#falaNPC1, #falaNPC2, #npcParabens, #proximaFase, #reiniciarJogo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 2s;
}

.oculto {
    display: none;
}

#falaNPC1, #falaNPC2 {
    top: 15%; 
}

#falaNPC1 img, #falaNPC2 img {
    width: 600px;
    height: auto;
}

#npcParabens {
    top: 20%; 
    left: 18%;
}

#npcParabens img {
    width: 600px;
    height: auto;
}

#botoesContainer {
    text-align: center; /* Centraliza o botão */
    margin-top: 20px; /* Espaço acima do botão */
}

#botaoAvancar {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white; /* Cor do texto */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Mão ao passar o mouse */
    margin-top: 10px; /* Espaço acima do botão */
}

#botaoAvancar:hover {
    background-color: #45a049; /* Tom mais escuro ao passar o mouse */
}

