body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Evitar rolagem */
    font-family: Arial, sans-serif;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Cor de fundo caso a imagem não carregue */
}

#fundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#botoes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1;
}

button {
    background-color: #6e6e6e;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #4e4e4e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#video-section, #sobre-section {
    display: none; /* Oculto até ser ativado */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.oculto {
    display: none; /* Certifica-se de que está escondido no início */
}

#video-intro {
    max-width: 80%;
    margin-bottom: 20px;
}

#btn-aventura {
    margin-top: -10px;
}


/* Css para a pgn sobre o jogo*/

#sobre-section {
    background-color: rgba(36, 37, 40, 0.9); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Reduzido para 80% da tela */
    max-width: 800px; /* Tamanho máximo */
    margin: 20px auto; /* Centraliza na tela */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
}

#sobre-section h1 {
    font-size: 1.8em; /* Tamanho do título reduzido */
    margin-bottom: 15px;
    font-weight: bold;
}

#sobre-section p {
    font-size: 1em; /* Tamanho de fonte ajustado */
    margin-bottom: 20px;
    text-align: justify; /* Para melhor legibilidade */
}

#sobre-section button {
    padding: 10px 20px;
    background-color: #f4a261;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em; /* Tamanho de botão ajustado */
    cursor: pointer;
    transition: background-color 0.3s;
}

#sobre-section button:hover {
    background-color: #e76f51;
}

@media screen and (max-width: 768px) {
    #sobre-section {
        width: 90%; /* Mais largura em telas pequenas */
    }

    #sobre-section h1 {
        font-size: 1.5em; /* Título menor em telas pequenas */
    }

    #sobre-section p {
        font-size: 0.9em; /* Fonte menor para melhor encaixe em telas menores */
    }

    #sobre-section button {
        padding: 8px 16px; /* Botão mais compacto em telas pequenas */
    }
}


